@tailwind base;
@tailwind components;
@tailwind utilities;


.no {
    border: 2px solid red;
}

.card {
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.flip {
    transform: rotatey(180deg);
}

.face {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

body {
    cursor: url("./image/navigate.png"), auto;
}

.click-details {
    cursor: url("./image/cursor.png"), auto;
}

.click-task{
    cursor: url("./image/pen.png"), auto;
}

.click {
    cursor: url("./image/tap.png"), auto;
}

.click-no{
    cursor: url("./image/say-no.png"), auto;
}

.click-rubbish{
    cursor: url("./image/bin.png"), auto;
}

.click-undo{
    cursor: url("./image/undo.png"), auto;
}